*{
    -fx-font-family: "Inter Semi bold"; 
    
}

.loginButton {
    -fx-background-color: #0a625b;
}

.loginButton:hover {
    -fx-opacity: 0.85;
}

.adminButton{
    -fx-background-color: #dfdfdf;
    -fx-text-fill: black;
    -fx-background-radius: 15;
}

.adminButton:hover{
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}
.adminButton:pressed{
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}
.addRemoveButtons{
    -fx-background-color: #dfdfdf;
    -fx-text-fill: #0a625b;
}

.addRemoveButtons:hover{
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}
#saveButton {
    -fx-background-color: #a4cfb7;
}
#saveButton:hover {
    -fx-background-color: #75a289;
}
.clearBackButtons {
    -fx-background-color: #a8a8a8;
}
.clearBackButtons:hover {
    -fx-background-color: #8d8d8d;
}
#removeButton {
    -fx-background-color: #cfa4a4;
}
#removeButton:hover {
    -fx-background-color: #d28484;
}

#noBackButton {
    -fx-background-color: #dfdfdf;
}
#noBackButton:hover {
    -fx-background-color: #adadad;
}
#yesRemoveButton {
    -fx-background-color: #cfa4a4;
}
#yesRemoveButton:hover {
    -fx-background-color: #d28484;
}

#payrollUpdateButton {
-fx-background-color: #dfdfdf;
-fx-background-radius: 15;
}

#payrollUpdateButton: hover {
-fx-background-color: #a4cfb7;
-fx-text-fill: #0a625b;
}

#payrollUpdateButton: pressed {
-fx-background-color: #a4cfb7;
-fx-text-fill: #0a625b;
}


#payrollDeleteButton {
-fx-background-color: #dfdfdf;
-fx-background-radius: 15;
}

#payrollDeleteButton:hover {
-fx-background-color: #cfa4a4;
-fx-text-fill: #FFFFFF;
}

#payrollDeleteButton:pressed {
-fx-background-color: #cfa4a4;
-fx-text-fill: #FFFFFF;
}

.date-picker {
    -fx-background-color: white;
}
.date-picker .arrow-button {
    -fx-background-color: #a4cfb7;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #d4f3e1;
}
.date-picker .popup {
    -fx-background-color: white;
    -fx-border-color: #a4cfb7;
}
.date-cell {
    -fx-background-color: white;
}

.date-cell:hover {
    -fx-background-color: #a4cfb7;
    -fx-text-fill: black;
}

.date-cell:selected {
    -fx-background-color: #a4cfb7;
    -fx-text-fill: black;
}
.axis-label {
    -fx-rotate: -45;
}

.chart-category-axis {
    -fx-padding: 0 0 60 0;
}


