.adminButton{
    -fx-background-color: #dfdfdf;
    -fx-text-fill: black;
    -fx-background-radius: 15;
}

.adminButton:hover{
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}
.adminButton:pressed{
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}