
.adminButton {
    -fx-background-color: #dfdfdf;
    -fx-text-fill: black;
    -fx-background-radius: 15;
}

.adminButton:hover {
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}
.adminButton:pressed {
    -fx-background-color: #a4cfb7;
    -fx-text-fill: #0a625b;
}

.employee_panel {
    -fx-background-radius: 15;
}
.reportAnalysisPanel {
    -fx-border-radius: 15;
}

.period_comboBox {
    -fx-background-color: white;
    -fx-border-color: #a8a8a8;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-font-family: "System Bold";
    -fx-font-size: 15px;
    -fx-pref-height: 50px;
    -fx-pref-width: 300px;
}

.period_comboBox .arrow-button {
    -fx-background-color: #797979;
    -fx-background-radius: 0 13px 13px 0;
}

.period_comboBox .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #a8a8a8;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #0a625b;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #0a625b;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #0a625b;
    -fx-text-fill: white;
}